bg-color = #fdfdfd
border-color = #ebebeb
story_background = #fcfcfc
story_border = border_light

border_stripes= #f2f2f2
border_light= #e6e6e6
border_medium= #d9d9d9
border_dark= #8c8c8c

background_grey_light= #f7f7f7
background_light= #f7f8fa
background_medium= #f2f2f2
background_dark= #eceff5

text_light= #b6bcc9
text_medium= #98a1b3
text_dark= #626d84
text_darker= #4b5773

list_bgcolor = #fefefe
list_bgcolor_odd = #fafafa

orange_light= #ff9500
orange_medium= #ff8000
orange_dark= #ff6900

blue_light= #0088cc
blue_medium= #006699
blue_dark= #004ebd

grey_lighter= #bfbfbf
new_grey_medium = #999797

//TODO: make these black
grey_light= #404040
grey_medium= #262626
grey_dark= #262626

green_light= #3bb300
green_medium= #339900
green_dark= #2a8000

red_medium= #cc0a0a
red_dark= #8c0000

facebook_light= #6987bf
facebook_medium= #6276b2
facebook_dark= #5368a6

twitter_light= #00a3d9
twitter_medium= #0092d1
twitter_dark= #0080bf

google_light= #d94436
google_medium= #bf3326
google_dark= #b30f00

purple_light= #9900e5
pink_light= #8c1aff

shared_light= #bf40ff
recommend_light= #a64dff
saved_light= #884dff
read_light= #6666ff
interests_light= #4080ff
followed_light= #0b92e6